@charset "UTF-8";
body{
    font-size: .6rem;
}
.bar-header{
    background-color: #23AAEC;
}
.title-header{
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}
.bat-footer{
    height: 2.6rem;
    border: 1px solid #C2C3C5;
}
.content-main{
    box-sizing: border-box;
    padding: .55rem .65rem 2.5rem .65rem;
}
.content-row{
    display: -webkit-box;
    display: flex;
}
.content-column{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex-1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.col-6{
    width:6%;
}
.col-94{
    width:94%;
}
.col-50{
    width:50%;
}
.col-20{
    width:20%;
}
.row-50{
    height: 50%;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-14{
    font-size: .7rem;
}
.text-13{
    font-size: .65rem !important;
}
.text-12{
    font-size: .6rem;;
}
.row-box{
    margin-left: 0%;
}
.col-33-box{
    width:33.3%;
}
.hidden{
    display: none;
}
.bat-footer-box{
    z-index: 100;
    background-color: #fff;
}