
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492739667552'); /* IE9*/
  src: url('iconfont.eot?t=1492739667552#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492739667552') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492739667552') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492739667552#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before { content: "\e616"; }

.icon-jiantou:before { content: "\e618"; }

.icon-xiala:before { content: "\e62b"; }

.icon-p-types:before { content: "\e678"; }

.icon-tongji:before { content: "\e60b"; }

.icon-shangla1:before { content: "\e61f"; }

.icon-shishi:before { content: "\e69f"; }

.icon-jiantou1:before { content: "\e62d"; }

.icon-rili:before { content: "\e600"; }

.icon-niandu:before { content: "\e7cb"; }

.icon-yuedulingfayouliangtongji:before { content: "\e8a0"; }

.icon-yuedulingfayouliangtongji-copy:before { content: "\e8a1"; }

.icon-shishi-copy:before { content: "\e8a2"; }

.icon-niandu-copy:before { content: "\e8a3"; }

.icon-tongji-copy:before { content: "\e8a4"; }

.icon-shangla1-copy:before { content: "\e8a5"; }

.icon-xiala-copy:before { content: "\e8a6"; }

.icon-shangla1-copy1:before { content: "\e8a7"; }

.icon-xiala-copy1:before { content: "\e8a8"; }

.icon-message-copy:before { content: "\e8a9"; }

.icon-p-types-copy:before { content: "\e8aa"; }

