@charset "UTF-8";
.logo_img{
    width: 6.775rem;
    margin: .74rem auto;
    display: block;
    height: 0.85rem;
}
.card-box{
    margin: 0;
    border-radius: .5rem;
}
.card-header-box{
    padding: .4rem .75rem;
    background-color: #62BBD7;
    color:#fff;
    letter-spacing: .05rem;
    position: relative;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.card-header-box:before{
    width:0;
    height: 0;
    content:"";
    position: absolute;
    top:.5rem;
    right: 100%;
    border-top: .35rem solid transparent;
    border-right: .35rem solid #62BBD7;
    border-bottom: .35rem solid transparent;
}
.card-active-header-box:before{
    width:0;
    height: 0;
    content:"";
    position: absolute;
    top:.5rem;
    right: 100%;
    border-top: .35rem solid transparent;
    border-right: .35rem solid #FABC2D;
    border-bottom: .35rem solid transparent;
}
.card-content-inner-box{
    padding: .5rem;
    color:#0894ec;
}
.active-card{
    color:#FABC2D;
}
.suggest_text_gray{
    color:#EAE9E9;
}
.divider{
    border-top: 1px solid #EAE9E9;
    margin-top: .4rem;
}
.text-card-desc{
    color:#999999;
}
.active-bag{
    width:.5rem;
    height:.5rem;
    border-radius: .25rem;
    background-color:#6BC8CE ;
    margin-top: .6rem;
}
.active-bag-color{
    background-color:#FABC2D ;
}
.card-tag{
    width: .05rem;
    height: 85%;
    background-color: #ccc;
    margin-left: .2rem;
    margin-top: .25rem;
}
.card_filed{
    margin-bottom: .5rem;
}
.infinite-scroll-preloader {
    margin-top:-1rem;
}
/*月度*/
.content-box{
    padding-bottom: 2.75rem;
    z-index: 1;
}
.select-field{
    margin: .3rem 0 .2rem;
    height: 2rem;
}
.select-divider{
    width: 1px;
    background-color: #E4E4E4;
}
.date-picker{
    border: none;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}
.total-box{
    height: 3rem;
    background-color: #fff;
}
.per-box{
    line-height: 1.5rem;
    font-weight: bold;
}
.per-red{
    color:#DD4F0c;
}
.per-blue{
    color:#009DDF;
}
.per-green{
    color:#22B44A;
}
.per-next{
    color: #A3CCE7;
}
.card-month-box{
    margin: 0;
    box-shadow: 0 .05rem .1rem #DFEAF4;
}
.complaint-box{
    margin:.5rem .55rem 0 .55rem;
    letter-spacing: .05rem;
}
.complaint-button{
    border: none;
    height: 2rem;
    line-height: 2rem;
    background-color: #6AC6CF;
    color: #fff;
    position: relative;
}
.complaint-button:before,.buttons-tab .button.active:before{
    content:"";
    width:0;
    height: 0;
    position: absolute;
    top:100%;
    left: 48%;
    border-left: .35rem solid transparent;
    border-top: .55rem solid #6AC6CF;
    border-right: .35rem solid transparent;
}
.complaint-img-field{
    margin: .55rem 0 .5rem;
}
.arror_img{
    width: 3.2rem;
    height: .425rem;
}
.per-next-top-box{
    margin-bottom:-.4rem;
    letter-spacing: .05rem;
}
.per-next-bottom-box{
    margin-top: -.3rem;
    letter-spacing: .05rem;
}
.complaint-img-box{
    height:8.15rem;
    width:100%;
    background-color: #fff !important;
    margin-top: .45rem;
}
.down_bag{
    position: absolute;
    right: 20%;
    top: 8px;
    color: #999999;
}
.select-area{
    position: relative;
}
.complaint-link{
    text-align: center;
    padding: 0 .5rem;
    margin: 0;
    box-sizing: border-box;
    height: 2rem;
    line-height: 2rem;
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-radius: 0;
    color: #5f646e;
}
.complaint-link-active{
    color: #fff;
    background-color: #6AC6CF;
    border: none;
    z-index: 100;
}
.complaint-link-active:before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 48%;
    border-left: .35rem solid transparent;
    border-top: .55rem solid #6AC6CF;
    border-right: .35rem solid transparent;
}
.complaint-link-left{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.complaint-link-right{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.position-rel{
    position: relative;
}